{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'image/image22.jpg' %}" class="d-block w-100" alt="..." width="350" height="550">
          <div class="carousel-caption d-none d-md-block">
            <h5>Цель</h5>
            <p>Google не за горами!!!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'image/image11.jpg' %}" class="d-block w-100" alt="..." width="350" height="550">
          <div class="carousel-caption d-none d-md-block">
            <h5>Умные слова</h5>
            <p>Пешка - единственная фигура в шахматах, имеет больщую цель. <br>
                И только она может стать, тем кем захочет.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'image/image3.jpg' %}" class="d-block w-100" alt="..." width="350" height="580">
          <div class="carousel-caption d-none d-md-block">
            <h4>Цветок</h4>
            <p>Я помню каждые чувства, и как меня ты терпела <br>
                Ни слова про деньги, и пусть нам просто любить так хотелось <br>
                Я низко опускал руки, но ты крепко держала ладони <br>
                Твоя вера спасала меня, да, руки я заново поднял, но <br>
                Меня просишь остаться, отпуская вновь из дома <br>
                Но я тороплюсь обратно, чтоб увидеть тебя снова <br>
                И меня просишь остаться, отпуская вновь из дома <br>
                И я принесу весь мир в руках и подарю его тебе <br>
                Подарю его тебе <br>
                Мир против был, ты была со мной <br>
                Теперь мир мой дарю тебе <br>
                Теперь мир мой дарю тебе <br>
                Между нами города и долгий путь <br>
                Но я слышу голос твой и я бегу <br>
                Образ твой во сне моём и наяву <br>
                Доверь мне душу - я её и сберегу <br>
                Я не мог тебе позволить и цветок <br>
                А теперь, весь мир лежит у твоих ног <br>
                Я не мог тебе позволить и цветок <br>
                Теперь держи - это тебе, всё, что я смог</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br><br>

    {% for post in posts %}
      <div class="card text-center">
          <div class="card-header card-title">
              <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
          </div>
          <div class="card-body">
            <p class="card-text">{{ post.text|linebreaksbr }}</p>
            <a href="https://google.com/" class="btn btn-primary">В Google</a>
          </div>
          <div class="card-footer text-muted">
            {{ post.published_date }}
          </div>
        </div>
    {% endfor %}
    <br>
{% endblock %}